<% include partials/header %>

<h1>You fell in love with: <%=thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Goog Choice Rusty is the Best</p>
<% } else{ %>
    <p>But choice</p>
<% } %>
<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>